<a href="https://colab.research.google.com/github/June103310110/itri_ml_course/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
pd.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
"test0"
'test0'

In [9]:
import pandas as pd 
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
print(df)
df.to_excel('test.xlsx' ,index=False)

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [10]:
import pandas as pd 
df = pd.DataFrame({'col1': [1, 2],
                   'col2': [0.5, 0.75]},
                   index=['row1', 'row2'])
df.to_dict()

{'col1': {'row1': 1, 'row2': 2}, 'col2': {'row1': 0.5, 'row2': 0.75}}

In [14]:
a = [1,2]
a

[1, 2]

In [54]:
!git clone https://github.com/June103310110/itri_ml_course.git

Cloning into 'itri_ml_course'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 15 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [75]:
%cd /content/itri_ml_course

/content/itri_ml_course

In [76]:
!git config --global user.email "june103310110@gmail.com"
!git config --global user.name "june103310110"

In [74]:
!git remote add origin https://github.com/June103310110/itri_ml_course.git

In [73]:
!git remote rm origin

fatal: No such remote: origin

In [79]:
!git add .
!git commit -m'update a test.csv'
!git push --set-upstream origin main

On branch main
nothing to commit, working tree clean
fatal: could not read Username for 'https://github.com': No such device or address

In [51]:
!wget -O myfile.csv https://raw.githubusercontent.com/June103310110/itri_ml_course/main/test.csv

--2021-01-20 04:35:20--  https://raw.githubusercontent.com/June103310110/itri_ml_course/main/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 59 [text/plain]
Saving to: â€˜myfile.csvâ€™

myfile.csv          100%[===================>]      59  --.-KB/s    in 0s

2021-01-20 04:35:20 (2.72 MB/s) - â€˜myfile.csvâ€™ saved [59/59]